:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --section-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  background-color: var(--white-color);
  color: var(--primary-text-color);
}
/* Стили контейнера */
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;

  border: 2px solid red;
}
/* Стили секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  outline: 2px solid orchid;
}
.section.secondary {
  padding-top: 0;
}
/* Стили шапки сайта */
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--black-color);
}
.logo-text {
  color: var(--accent-color);
}
.lists {
  list-style: none;

  padding: 0;
  margin: 0;
}
.site-nav a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
a[href^='mailto'],
a[href^='tel'] {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}
a[href^='mailto']:hover,
a[href^='tel']:hover {
  color: var(--accent-color);
}
a[href^='mailto']:focus,
a[href^='tel']:focus {
  color: var(--accent-color);
}
/* Стили подвала сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--section-bg-color);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 20px;
  display: inline-block;

  color: var(--white-color);
}
.footer-contacts a {
  margin-bottom: 9px;
  display: inline-block;

  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--footer-link-color);
}
.footer-contacts .address {
  font-style: normal;

  color: var(--white-color);
}
/* Стили секции герой */
.section-hero {
  background-color: var(--section-bg-color);

  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
}
/* Стили секции преимуществ */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
}
.advantage-cards h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.advantage-cards p {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Стили секции рода деятельности */
/* Стили секции команды */
.team-cards img {
  margin-top: 0;
  margin-bottom: 30px;
}
.team-cards h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-cards p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Страница портфолио */

/* Стили секции примера работ */
.portfolio-links {
  margin-bottom: 34px;

  text-align: center;
}
.portfolio-cards li {
  border-bottom: 1px solid #eeeeee;

  padding-bottom: 20px;
}
.portfolio-cards a {
  text-decoration: none;
}
.portfolio-cards img {
  margin-bottom: 20px;
}
.portfolio-cards h2 {
  margin: 0px 24px 4px 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.portfolio-cards p {
  margin: 0px 24px 0px 24px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Кнопки */
.button {
  background-color: var(--button-bg-color);
  color: var(--title-text-color);

  font-family: inherit;
  text-align: center;

  border-radius: 4px;
  border: 0;
}
.button.primary {
  background-color: var(--button-bg-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  min-width: 73px;
  padding: 6px 32px;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button.secondary {
  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  min-width: 200px;
  padding: 10px 32px;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--button-bg-color);
  color: var(--title-text-color);
}
